<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body data-bs-theme="dark" style="font-family: 'Courier New', Courier, monospace;">
    <div class="d-flex align-items-center justify-content-center" y style="height: 100vh;">
        <form method="POST" style="width: 75vw;">
            <h1 class="fw-bold">VIGENERE SENDER</h1>
            <hr>
            <textarea class="form-control rounded-0 border-1 border-light" placeholder="Enter your message..."
                id="message" name="message" style="height: 100px" required></textarea>
            <input class="form-control w-50 rounded-0 border-1 border-light mt-3" placeholder="Enter key..."
                id="key" name="key" required>
            <button class="btn btn-light rounded-0 mt-3">SEND MESSAGE</button>
        </form>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>